.cachorro .list {
  border: 1px solid #999;
  border-radius: 4px;
  padding: 10px;
  overflow-y: scroll;
}

.cachorro .m-r {
   margin-left: 8px;
}

.cachorro .xs {
   height: 150px;
}

.cachorro .md {
   height: 225px;
}

.cachorro .lg {
   height: 350px;
}

.cachorro .xl {
   height: 500px;
}